#header{
	height: 120px;
	margin: 20px;
	background-color:  pink;
    text-align: center;
    overflow: hidden;
	clear: both;
}
#box2{
	width: 300px;
	height: 500px;
	margin: 20px;
	background-color:  yellow;
	text-align: center;
	overflow: hidden;
	float: left;
}

#box3{
	width: 600px;
	height: 500px;
	margin: 20px;
	background-color:  	#00FFFF;
	text-align: center;
	float: right
}

#a{
	width: 250px;
	height: 200px;
	margin: 20px;
	background-color:  	#ADFF2F;
	text-align: center;
	float: left;
}
#b{
	width: 250px;
	height: 200px;
	margin: 20px;
	background-color:  	#ADFF2F;
	text-align: center;
	float: right;
}
#c{
	width: 560px;
	height: 200px;
	margin: 20px;
	background-color:  	#ADFF2F;
	text-align: center;
	float: left;
}




